evacomuna/src/main/resources/wsdl/position.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.services.una.ac.cr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://impl.services.una.ac.cr/" name="PositionService">
<types>
<xsd:schema>
<xsd:import namespace="http://impl.services.una.ac.cr/" schemaLocation="http://localhost:8080/evacomuna-1.0/PositionService?xsd=1"/>
</xsd:schema>
</types>
<message name="updatePositionById">
<part name="parameters" element="tns:updatePositionById"/>
</message>
<message name="updatePositionByIdResponse">
<part name="parameters" element="tns:updatePositionByIdResponse"/>
</message>
<message name="deletePositionById">
<part name="parameters" element="tns:deletePositionById"/>
</message>
<message name="deletePositionByIdResponse">
<part name="parameters" element="tns:deletePositionByIdResponse"/>
</message>
<message name="getPositionById">
<part name="parameters" element="tns:getPositionById"/>
</message>
<message name="getPositionByIdResponse">
<part name="parameters" element="tns:getPositionByIdResponse"/>
</message>
<message name="createPosition">
<part name="parameters" element="tns:createPosition"/>
</message>
<message name="createPositionResponse">
<part name="parameters" element="tns:createPositionResponse"/>
</message>
<portType name="PositionServiceImpl">
<operation name="updatePositionById">
<input wsam:Action="http://impl.services.una.ac.cr/PositionServiceImpl/updatePositionByIdRequest" message="tns:updatePositionById"/>
<output wsam:Action="http://impl.services.una.ac.cr/PositionServiceImpl/updatePositionByIdResponse" message="tns:updatePositionByIdResponse"/>
</operation>
<operation name="deletePositionById">
<input wsam:Action="http://impl.services.una.ac.cr/PositionServiceImpl/deletePositionByIdRequest" message="tns:deletePositionById"/>
<output wsam:Action="http://impl.services.una.ac.cr/PositionServiceImpl/deletePositionByIdResponse" message="tns:deletePositionByIdResponse"/>
</operation>
<operation name="getPositionById">
<input wsam:Action="http://impl.services.una.ac.cr/PositionServiceImpl/getPositionByIdRequest" message="tns:getPositionById"/>
<output wsam:Action="http://impl.services.una.ac.cr/PositionServiceImpl/getPositionByIdResponse" message="tns:getPositionByIdResponse"/>
</operation>
<operation name="createPosition">
<input wsam:Action="http://impl.services.una.ac.cr/PositionServiceImpl/createPositionRequest" message="tns:createPosition"/>
<output wsam:Action="http://impl.services.una.ac.cr/PositionServiceImpl/createPositionResponse" message="tns:createPositionResponse"/>
</operation>
</portType>
<binding name="PositionServiceImplPortBinding" type="tns:PositionServiceImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updatePositionById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deletePositionById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPositionById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createPosition">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PositionService">
<port name="PositionServiceImplPort" binding="tns:PositionServiceImplPortBinding">
<soap:address location="http://localhost:8080/evacomuna-1.0/PositionService"/>
</port>
</service>
</definitions>