evacomuna/src/main/resources/wsdl/user.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime
(https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1
(RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version}
XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><!-- Generated by XML-WS Runtime
(https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1
(RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version}
XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. -->
<definitions
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.services.una.ac.cr/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
    targetNamespace="http://impl.services.una.ac.cr/" name="User">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://impl.services.una.ac.cr/"
                schemaLocation="http://localhost:8080/evacomuna-1.0/User?xsd=1" />
        </xsd:schema>
    </types>
    <message name="createUser">
        <part name="parameters" element="tns:createUser" />
    </message>
    <message name="createUserResponse">
        <part name="parameters" element="tns:createUserResponse" />
    </message>
    <message name="getUserById">
        <part name="parameters" element="tns:getUserById" />
    </message>
    <message name="getUserByIdResponse">
        <part name="parameters" element="tns:getUserByIdResponse" />
    </message>
    <message name="deleteUser">
        <part name="parameters" element="tns:deleteUser" />
    </message>
    <message name="deleteUserResponse">
        <part name="parameters" element="tns:deleteUserResponse" />
    </message>
    <message name="updateUser">
        <part name="parameters" element="tns:updateUser" />
    </message>
    <message name="updateUserResponse">
        <part name="parameters" element="tns:updateUserResponse" />
    </message>
    <portType name="UserServiceImpl">
        <operation name="createUser">
            <input wsam:Action="http://impl.services.una.ac.cr/UserServiceImpl/createUserRequest"
                message="tns:createUser" />
            <output wsam:Action="http://impl.services.una.ac.cr/UserServiceImpl/createUserResponse"
                message="tns:createUserResponse" />
        </operation>
        <operation name="getUserById">
            <input wsam:Action="http://impl.services.una.ac.cr/UserServiceImpl/getUserByIdRequest"
                message="tns:getUserById" />
            <output wsam:Action="http://impl.services.una.ac.cr/UserServiceImpl/getUserByIdResponse"
                message="tns:getUserByIdResponse" />
        </operation>
        <operation name="deleteUser">
            <input wsam:Action="http://impl.services.una.ac.cr/UserServiceImpl/deleteUserRequest"
                message="tns:deleteUser" />
            <output wsam:Action="http://impl.services.una.ac.cr/UserServiceImpl/deleteUserResponse"
                message="tns:deleteUserResponse" />
        </operation>
        <operation name="updateUser">
            <input wsam:Action="http://impl.services.una.ac.cr/UserServiceImpl/updateUserRequest"
                message="tns:updateUser" />
            <output wsam:Action="http://impl.services.una.ac.cr/UserServiceImpl/updateUserResponse"
                message="tns:updateUserResponse" />
        </operation>
    </portType>
    <binding name="UserServiceImplPortBinding" type="tns:UserServiceImpl">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="createUser">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="getUserById">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="deleteUser">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="updateUser">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding>
    <service name="User">
        <port name="UserServiceImplPort" binding="tns:UserServiceImplPortBinding">
            <soap:address location="http://localhost:8080/evacomuna-1.0/User" />
        </port>
    </service>
</definitions>